#include "resources.h"

IDR_JSON_WEAPONS RCDATA "..\\src\\id\\EquipParamWeapon.json"
IDR_JSON_CUSTOM_WEAPONS RCDATA "..\\src\\id\\EquipParamCustomWeapon.json"
IDR_JSON_ARMOR RCDATA "..\\src\\id\\EquipParamProtector.json"
IDR_JSON_TALISMANS RCDATA "..\\src\\id\\EquipParamAccessory.json"
IDR_JSON_GOODS RCDATA "..\\src\\id\\EquipParamGoods.json"
IDR_JSON_ASHES RCDATA "..\\src\\id\\EquipParamGem.json"
IDR_JSON_NPCS RCDATA "..\\src\\id\\NpcParam.json"
